
  .center{
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    
    background: rgba(0, 0, 0, 0.418);
    padding: 50px 10px;      
    
    border-radius: 30px;
    box-shadow: 0 0 35px  #8255ff;
  }

  

  .login{
    
   color: #ffffff;
  }

  .alertbox{
   height: 50px;
   background-color: rgb(147, 23, 172,0.6);
   
  }

  .alertboxtext{
    padding: 10px 0;
    text-align: center;
    font-size: 19px;
    color: #f83232;
  }

  .center h1{
    margin-top: -60px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(255, 3, 3);
  }

  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }

  .box .txt_field{
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 30px 35px;
  }

  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
  }

  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#2980b9, #b300ff);
    transition: .5s;
  }

  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color:  #2980b9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }

  .checkbox{
    padding:  40px; 
  }

  .font{
color: #ffffff;
  }

  .tr{
    display: flex;
  }
  .pass{
    
    padding: 30px;
    margin: -5px 0px 20px 5px;
    color: #2691d9;
    cursor: pointer;
    
  }
  .pass:hover{
    text-decoration: underline;
    color: #2691d9;
  }

  .Btn{
    margin-left: 20px;
    width: 90%;
    height: 50px;
    border: 1px solid;
    background:linear-gradient(120deg,#2980b9, #b300ff);
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 950;
    cursor: pointer;
    outline: none;
   
  }



  

  .Btn:hover{
    box-shadow: 0 0  20px   rgb(147, 23, 172);
    transition: .5s;
  }

  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #858585;
    cursor: pointer;
  }

  .signup_link a:link{
    
    color: #2691d9;
    text-decoration: none;
  }

  .signup_link a:link:hover{
    text-decoration: underline;
  }
  


 .modal{
  padding-top: 156px;
 }